@{ Layout = null; }
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>请自己设置页标题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        请在这里引入需要用到的css和javascript文件
    -->
</head>
<body>
    <table id="请自己设置ID" data-options="fit: true"></table>
</body>
</html>
