<div id="dt_panel">
   <form>
       <!--panel的工具配置-->
       <div id="tt">
           <a href="javascript:;" class="icon-add" onclick="main.columnOperate.createGridColProperty();" title="添加列属性"></a>
           <a href="javascript:;" class="icon-remove" onclick="main.columnOperate.delGridColProperty();" title="移除选中列属性"></a>
           <a href="javascript:;" class="icon-edit" onclick="main.columnOperate.editGridColProperty();" title="编辑选中列属性"></a>
           <a href="javascript:;" class="icon-save" onclick="main.columnOperate.endEditGridColProperty();" title="保存选中列属性"></a>
           <a href="javascript:;" class="icon-print" onclick="main.columnOperate.openColumnFormatterDialog();" title="编辑列属性的formatter"></a>
       </div>

       <!--列属性配置的说明-->
       <i style="background-color:darksalmon;color:white;height:25px;font-size:14px;display:inline-block">&emsp; datagrid列属性配置</i>      

       <!--列数据表-->
       <table id="dt_dtgd"></table>
              
   </form>

</div>

<div id="dt_panel2">
    <form>
        <div id="tt2">
            <a href="javascript:;" class="icon-add" onclick="main.conditionOperate.createCondition();" title="添加查询条件"></a>
            <a href="javascript:;" class="icon-remove" onclick="main.conditionOperate.delCondition();" title="移除选中查询条件"></a>
            <a href="javascript:;" class="icon-edit" onclick="main.conditionOperate.editCondition();" title="编辑选中查询条件"></a>
            <a href="javascript:;" class="icon-save" onclick="main.conditionOperate.endEditCondition();" title="保存选中查询条件"></a>
            <a href="javascript:;" class="icon-print" onclick="main.conditionOperate.openConditionPropertyDialog();" title="编辑查询条件的属性"></a>
        </div>

        <!--datagrid工具栏条件配置的说明-->
        <i style="background-color:darksalmon;color:white;height:25px;font-size:14px;display:inline-block">&emsp; datagrid工具栏条件配置</i>   
                
        <!--列数据表-->
        <table id="dt_dttlgd"></table>
    </form>
</div>

<div id="dt_panel3">
    <form>
        <div id="tt3">
            <a href="javascript:;" class="icon-add" onclick="main.operate.createGridColProperty();" title="添加列属性"></a>
            <a href="javascript:;" class="icon-remove" onclick="main.operate.delGridColProperty();" title="移除选中列属性"></a>
            <a href="javascript:;" class="icon-edit" onclick="main.operate.editGridColProperty();" title="编辑选中列属性"></a>
            <a href="javascript:;" class="icon-save" onclick="main.operate.endEditGridColProperty();" title="保存选中列属性"></a>
            <a href="javascript:;" class="icon-print" onclick="main.operate.openColumnFormatterDialog();" title="编辑列属性的formatter"></a>
        </div>

        <!--datagrid工具栏操作配置的说明-->        
        <i style="background-color:darksalmon;color:white;height:25px;font-size:14px;display:inline-block">&emsp; datagrid工具栏操作配置</i> 

        <!--列数据表-->
        <table id="dt_dttlgd2"></table>
    </form>
</div>