
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>代码模板生成</title>

    <link href="~/Content/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />

    <script src="~/scripts/jquery-1.11.3.min.js"></script>
    <script src="~/scripts/jquery.easyui-1.4.5.min.js"></script>
    <script src="~/scripts/lib/page_contrl_base.js"></script>
    <script src="~/scripts/lib/main.js"></script>
</head>
<body>
    
</body>
</html>
