@{ Layout = null; }
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>请自己设置页标题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        请在这里引入需要用到的css和javascript文件
    -->
</head>
<body>
    <table id="请自己设置ID" data-options="fit: true"></table>
    <div id="请输入工具栏的ID" style="padding: 10px;">
        <div style="margin-top: 10px">
            查询条件描述：<input type="text" class="easyui-textbox 字段名" data-options="" />
            查询条件描述：<input type="text" class="easyui-textbox 字段名" data-options="" />
            <a href="javascript:;" plain="true" iconcls="icon-search" class="easyui-linkbutton 标识符">操作按钮</a>
            <a href="javascript:;" plain="true" iconcls="icon-search" class="easyui-linkbutton 标识符">操作按钮</a>
        </div>
    </div>
</body>
</html>
